{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} New User {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <h1> New User Registration: </h1>
      <form action="" method="POST" name="new_user_form">
        <div>
        <input type="text" placeholder="First Name" name="firstname" />
        <input type="text" placeholder="Last Name" name="lastname" />
        </div>
        <br/>
        <input type="text" placeholder="Email" name="email" />
        <br/>

        <select name="level">
          <option value="1"> Employee </option>
          <option value="3"> Manager </option>
          <option value="5"> Admin </option>
        </select>
        <br/>
        <input class="btn btn-default" type="submit" value="Create User"/>
      </form>
      {% if error %}
          <p class="error"><strong>Error: </strong> {{error}} </p>
      {% endif %}
    </div>
{% endblock %}
